<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Access Token</title>
</head>
<body>
<h1>get code</h1>
<!--    <form action="https://app.asana.com/-/oauth_token" method="post" id="form">-->
<!--        <input type="hidden" value="authorization_code" name="grant_type">-->
<!--        <input type="hidden" th:value="${CLIENT_ID}" name="client_id">-->
<!--        <input type="hidden" th:value="${CLIENT_SECRET}" name="client_secret">-->
<!--        <input type="hidden" th:value="${REDIRECT_URI}" name="redirect_uri">-->
<!--        <input type="hidden" th:value="${CODE}" name="code">-->
<!--&lt;!&ndash;        <input type="hidden" value="fdsuiafhjbkewbfnmdxzvbuicxlhkvnemwavx" name="code_verifier">&ndash;&gt;-->
<!--    </form>-->
</body>
<!--<script type='text/javascript'>-->
<!--    window.onload=function(){-->
<!--        document.getElementById("form").submit();-->

<!--    }-->
<!--</script>-->
</html>